beautifulsoup4==4.15.0
ipykernel==7.3.0
ipython==9.16.1
ipywidgets==8.1.8
jupyterlab==4.6.2
matplotlib==3.11.1
pandas==3.0.5
plotly==7.0.0
pulp==3.3.2
pytest==9.0.2
requests==2.34.2
scikit-learn==1.9.0
selenium==4.46.0
undetected-chromedriver==3.5.5
anywidget==0.9.18
